:root {
    --primary-gray: #555;
    --primary-gray-transparent: #77777777;
    --primary-text-shadow: black;
    --primary-text: #ccc;
    --primary-hover: #55555577;
    --primary-active: #55555599;
    --primary-hover-border: #333;
    --fade-duration: 1000ms;
}

#main {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-rows: 1.75rem auto 1.75rem;
}

#scene {
    width: 100%;
    height: calc(100vh - 3.5rem);
    position: relative;
}

#textarea-wrap {
    position: absolute;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#textarea {
    margin: 2rem 20%;
    padding: 30px;
    background: var(--primary-gray-transparent);
    color: #ccc;
    border-radius: 15px;
    min-height: 8rem;
    box-shadow: 0 0 30px var(--primary-gray);
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 10px var(--primary-text-shadow);
    font-size: large;
}

#textarea:hover {
    box-shadow: 0 0 30px var(--primary-hover-border);
}

#background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#header {
    height: 30px;
    width: 100%;
    background: var(--primary-gray-transparent);
    z-index: 10;
}

#footer {
    height: 50px;
    width: 100%;
    background: var(--primary-gray-transparent);
    z-index: 10;
}

#text-header {}

#name {
    /* border-bottom: .5px solid #aaa; */
    width: 20%;
    margin-bottom: 5px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#text {
    flex: 1 1 auto;
    padding: 5px 0;
    font-size: 1.3rem;
}

#text-footer {
    height: 2rem;
    display: flex;
    justify-content: flex-end;
}

#selector {
    margin: 10px 20%;
    display: flex;
    justify-content: center;
}

.gal-btn {
    margin: 0 10px;
    padding: 10px;
    background: var(--primary-gray-transparent);
    color: var(--primary-text);
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 30px var(--primary-gray);
    user-select: none;
    cursor: pointer;
    text-shadow: 0 0 10px var(--primary-text-shadow);
    outline: none;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

.gal-btn:hover {
    transform: scale(1.3);
    background: var(--primary-hover);
    box-shadow: 0 0 30px var(--primary-hover-border)
}

.gal-btn:focus {
    border-color: #999;
}

.gal-btn:active {
    background: var(--primary-active);
}

#selector button {
    flex-grow: 1;
}

#scene-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition-duration: var(--fade-duration);
}

#scene-mask.fade {
    z-index: 5;
    background: black;
    transition-duration: var(--fade-duration);
}

.hide {
    display: none !important;
}

#characters {
    position: relative;
}

.character {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    transition-duration: 1000ms;
    opacity: 1.0;
}

.character.swing>img {
    animation: swing linear 100ms 3;
}

.character.hide-opacity {
    opacity: 0.0;
    /* display: none; */
    transition-duration: 1000ms;
}

:root {
    --swing-distance: 10px;
    --swing-distance-: -10px;
}

@keyframes swing {
    0% {
        transform: translateX(var(--swing-distance));
    }

    50% {
        transform: translateX(var(--swing-distance-));
    }

    100% {
        transform: translateX(var(--swing-distance));
    }
}