:root {
    --primary-gray: #555;
    --primary-gray-transparent: #e793e799;
    --primary-text-shadow: black;
    --primary-text: #ccc;
    --primary-hover: #f786f799;
    --primary-active: #f786f799;
    --primary-hover-border: #333;
    --fade-duration: 2000ms;
    --swing-distance: 10px;
    --swing-distance-: -10px;
    user-select: none !important;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    text-align: center;
    font-size: xx-large;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loading_content{
    animation: 1000ms infinite rotate linear;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
#progress-bar{
    height: 20px;
    width: 80%;
    background: gray;
    margin: 20px auto;
}
#progress{
    height: 20px;
    background: lightseagreen;
}
#progress-what{
    font-size: large;
    font-family: sans-serif;
}
#main {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-rows: 1.75rem auto 1.75rem;
}

#scene {
    width: 100%;
    height: calc(100vh - 3.5rem);
    position: relative;
}

.scene-inner {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

#textarea-wrap {
    z-index: 4;
    justify-content: flex-end;
    /* transition-duration: 300ms; */
}

#choice-wrap {
    z-index: 3;
    justify-content: center;
    transition-duration: 300ms;
}

#textarea {
    margin: 2rem 20%;
    padding: 30px;
    box-shadow: 0 0 30px var(--primary-hover-border);

    background: var(--primary-gray-transparent);
    color: #ccc;
    border-radius: 15px;
    min-height: 8rem;
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    font-size: large;
    font-weight: bold;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
}

#textarea,
#choice>* {
    text-shadow: 1px 1px 0 var(--primary-text-shadow), -1px -1px 0 var(--primary-text-shadow),
        -1px 1px 0 var(--primary-text-shadow), 1px -1px 0 var(--primary-text-shadow),
        0px 1px 0 var(--primary-text-shadow), 0 -1px 0 var(--primary-text-shadow),
        -1px 0 0 var(--primary-text-shadow), 1px 0 0 var(--primary-text-shadow),
        0 0 10px var(--primary-text-shadow);
}

#textarea::before {
    content: '';
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}

#textarea:hover {
    box-shadow: 0 0 100px var(--primary-gray-transparent);

}

#backgrounds {}

.background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition-duration: 10000ms;
    top: 0;
    left: 0;
}

#background.pan {
    /* transform */
    transform: scale(2);
    /* transform: translateX(-100%) scale(2); */
    transition-duration: 10000ms;
}

#header {
    height: 30px;
    width: 100%;
    background: var(--primary-gray-transparent);
    z-index: 10;
}

#footer {
    height: 50px;
    width: 100%;
    background: var(--primary-gray-transparent);
    z-index: 10;
}

#text-header {}

#text-wrap {
    flex: 1 1 auto;
    margin: 5px 0;
    font-size: 1.3rem;
    position: relative;
}

#text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#text-hidden {
    color: transparent;
    text-shadow: 0 0 0 transparent;
}

#name {
    width: 20%;
    margin-bottom: 5px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}


#text-footer {
    height: 2rem;
    display: flex;
    justify-content: flex-end;
}

#choice {
    margin: 10px 20%;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.gal-btn {
    margin: 10px;
    padding: 10px;
    background: #9891f3d0;
    background: var(--primary-gray-transparent);
    color: var(--primary-text);
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 30px var(--primary-gray);
    user-select: none;
    cursor: pointer;
    text-shadow: 0 0 10px var(--primary-text-shadow);
    outline: none;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

.gal-btn:hover {
    transform: scale(1.3);
    background: var(--primary-hover);
    box-shadow: 0 0 30px var(--primary-hover-border)
}

.gal-btn:focus {
    border-color: #999;
}

.gal-btn:active {
    background: var(--primary-active);
}

#choice button {
    flex-grow: 1;
    min-width: 30%;
}

#scene-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition-duration: var(--fade-duration);
}

#scene-mask.fade {
    z-index: 15;
    background: black;
    transition-duration: var(--fade-duration);
}

#scene-mask.fade.fast {
    transition-duration: 0;
}


.hide {
    display: none !important;
}

#characters {
    position: relative;
}

.character {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    transition-duration: 1000ms;
    opacity: 1.0;
}

.character>.character-in>.character-diff {
    position: absolute;
    left: 0;
    top: 0;
}

/* effects */
.character.swing>.character-in {
    animation: swing linear 100ms 3;
}

.character>.character-in {
    transition-duration: 1000ms;
}

/* states */
.character.disable>.character-in {
    opacity: .5;
    transition-duration: 1000ms;
}

.hide-opacity {
    opacity: 0.0;
    transition-duration: 1000ms;
}




@keyframes swing {
    0% {
        transform: translateX(var(--swing-distance));
    }

    50% {
        transform: translateX(var(--swing-distance-));
    }

    100% {
        transform: translateX(var(--swing-distance));
    }
}